body {
    background-color: black;
    background-image: url("../Images/deepbluewaterfall.jpg");
    background-attachment: fixed;
    background-size: cover;
    color: green;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
}

a {
    color: green;
}

.heading {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 75px;
    display: flex;
    flex-direction: row;
    border-bottom: 5px inset darkred; 
    border-radius: 0 0 25px 25px;
    align-items: center;
    justify-content: center;
}

.logo {
    position: fixed;
    top: 0;
}

.middle {
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 75%;
    margin-top: 100px;
    margin-bottom: 75px;
    overflow: scroll;
}

.contactPic {
    background: rgba(0, 0, 0, 0.8);
    overflow: scroll;
    border-radius: 50px;
    border: 5px solid darkgreen;
    width: 20%;
    margin: auto;
    height: 98%;
}

.pic {
    width: 90%;
    border-radius: 25px;
    margin: 10px auto auto auto;
}

.blogPosts {
    background: rgba(0, 0, 0, 0.8);
    overflow: scroll;
    border-radius: 50px;
    border: 5px solid darkgreen;
    width: 60%; 
    height: 98%;
    margin: auto;
}

.blogContent {
    width: 90%;
    margin: auto;
}

.blog {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50px;
    border: 5px solid darkgreen;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
    width: 60%;
    align-items: center;
    justify-content: center;
}

.blogImg {
    width: 60%;
    margin: auto;
}

.blogPic {
    width: 75%;
}

.blogText {
    width: 60%;
    margin: auto;
}

.navigation {
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    word-spacing: 15px;
    font-size: 2em;
    border-top: 5px inset darkred; 
    border-radius: 25px 25px 0 0;
}

::-webkit-scrollbar {
    display: none;
}

@media only screen and (max-width: 600px) {
    .middle {
        flex-direction: column;
    }

    .contactPic {
        display: none;
    }
}